@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap'); 
  body {  
    font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#424a4f;
    text-align:left;
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --moz-bs-gutter-x:  1.5rem;  
    --moz-bs-gutter-y:  0;  
    --moz-bs-gutter-x:  20px;  
    --moz-bs-gutter-y:  0;  
} 

* { 
    box-sizing: border-box;
} 

body { 
    margin: 0; 
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #424a4f; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    height: 100%; 
    font-family: "Lato",Helvetica,sans-serif;
} 

body { 
    margin: 0; 
    font-family: var(--moz-bs-body-font-family); 
    font-size: var(--moz-bs-body-font-size); 
    font-weight: var(--moz-bs-body-font-weight); 
    line-height: var(--moz-bs-body-line-height); 
    color: var(--moz-bs-body-color); 
    text-align: var(--moz-bs-body-text-align); 
    background-color: var(--moz-bs-body-bg); 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

html { 
    height: 100%; 
    font-family: "Lato",Helvetica,sans-serif;
} 

:root { 
    --moz-bs-body-font-family: Lato,Helvetica Neue,helvetica,arial,sans-serif; 
    --moz-bs-body-font-size: 1rem; 
    --moz-bs-body-font-weight: 400; 
    --moz-bs-body-line-height: 1.5; 
    --moz-bs-body-color: #424a4f; 
    --moz-bs-body-bg: #fff; 
    --moz-bs-link-color: #0077b3; 
    --moz-bs-link-hover-color: #0077b3; 
} 

@media (prefers-reduced-motion: no-preference){ 
  :root { 
    scroll-behavior: smooth;
  } 
}     

footer { 
    display: block;
} 

.footer-hon { 
    padding: 24px 0; 
    background-color: #fff; 
    border-top: 1px solid #dbe3e3;
} 

*,:before,:after { 
    box-sizing: border-box;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

:selection { 
    background-color: #0077b3; 
    color: #fff; 
    text-shadow: none;
} 

:selection { 
    color: #fff; 
    text-shadow: none; 
    background-color: #0077b3;
} 

.footer-hon .container-lmw  { 
    --moz-bs-gutter-x: 1.5rem; 
    --moz-bs-gutter-y: 0; 
    width: 100%; 
    padding-right: calc(var(--moz-bs-gutter-x) * .5); 
    padding-left: calc(var(--moz-bs-gutter-x) * .5); 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 576px){ 
  .footer-hon .container-lmw  { 
    max-width: 576px;
  } 
}     

@media (min-width: 768px){ 
  .footer-hon .container-lmw  { 
    max-width: 768px;
  } 
}     

@media (min-width: 992px){ 
  .footer-hon .container-lmw  { 
    max-width: 992px;
  } 
}     

@media (min-width: 1200px){ 
  .footer-hon .container-lmw  { 
    max-width: 1200px;
  } 
}     

.footer-hon .footer-r3w  { 
    display: flex; 
    flex-direction: column;
} 

@media (min-width: 992px){ 
  .footer-hon .footer-r3w  { 
    justify-content: space-between;
  } 
}     

.row-9jo { 
    --moz-bs-gutter-x: 20px; 
    --moz-bs-gutter-y: 0; 
    display: flex; 
    flex-wrap: wrap; 
    margin-top: calc(-1 * var(--moz-bs-gutter-y)); 
    margin-right: calc(-.5 * var(--moz-bs-gutter-x)); 
    margin-left: calc(-.5 * var(--moz-bs-gutter-x));
} 

.content-51i { 
    justify-content: center!important;
} 

.mzr-mt-v24 { 
    margin-top: 1rem!important;
} 

.row-9jo > *  { 
    flex-shrink: 0; 
    width: 100%; 
    max-width: 100%; 
    padding-right: calc(var(--moz-bs-gutter-x) * .5); 
    padding-left: calc(var(--moz-bs-gutter-x) * .5); 
    margin-top: var(--moz-bs-gutter-y);
} 

.col-4d2 { 
    flex: 0 0 auto; 
    width: 100%;
} 

@media (min-width: 992px){ 
  .col-bib { 
    flex: 1 0 0%;
  } 

  .col-83p { 
    flex: 0 0 auto; 
    width: 58.33333333%;
  } 
}     

@media (min-width: 1200px){ 
  .col-jyn { 
    flex: 0 0 auto; 
    width: 66.66666667%;
  } 
}     

.text-n5d { 
    text-align: center!important;
} 

@media (min-width: 992px){ 
  .text-dro { 
    text-align: right!important;
  } 
}     

.col-v62 { 
    flex: 1 0 0%;
} 

.footer-wei { 
    margin: 0 auto; 
    text-align: center;
} 

@media (min-width: 992px){ 
  .footer-wei { 
    margin: 0; 
    text-align: left;
  } 
}     

ul { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

ul { 
    margin-bottom: 2.5rem;
} 

ul { 
    padding-left: 2rem;
} 

ul.footer-t9p { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 16px; 
    margin-bottom: 0; 
    list-style: none;
} 

@media (min-width: 992px){ 
  ul.footer-t9p { 
    padding: 0 16px;
  } 
}     

.mzr-t9c { 
    padding-top: 2px; 
    font-size: 14px; 
    color: #565e66; 
    text-align: center;
} 

@media (min-width: 1200px){ 
  .mzr-t9c { 
    padding-top: 0; 
    text-align: right;
  } 
}     

a { 
    color: #0077b3; 
    text-decoration: none; 
    background-color: transparent;
} 

a { 
    color: var(--moz-bs-link-color); 
    text-decoration: none;
} 

a:hover { 
    color: #0077b3; 
    text-decoration: underline;
} 

a:hover { 
    color: var(--moz-bs-link-hover-color); 
    text-decoration: underline;
} 

ul.footer-t9p li  { 
    padding: 0 8px;
} 

.footer-7rt .button-ttf  { 
    padding: 0; 
    margin: 0; 
    list-style-type: none;
} 

svg { 
    overflow: hidden; 
    vertical-align: middle;
} 

svg { 
    vertical-align: middle;
} 

.footer-wei svg  { 
    width: 80px; 
    height: 30px; 
    fill: #565e66;
} 

ul.footer-t9p li a  { 
    font-size: 14px; 
    color: #565e66;
} 

.footer-7rt .button-5sz  { 
    position: relative; 
    width: 45px; 
    height: 45px; 
    padding: 10px; 
    margin: 0; 
    margin-bottom: 5px; 
    cursor: pointer;
} 

.footer-7rt .button-5sz.button-6zj  { 
    background-color: #a3d3ea;
} 

.footer-7rt .button-ttf .button-5sz  { 
    background-color: #fff;
} 

.footer-7rt .button-ttf.button-j52 .button-5sz  { 
    display: inline-block; 
    margin-right: 5px;
} 

.footer-7rt .button-ttf.button-62m .button-5sz  { 
    width: 29px; 
    height: 29px; 
    padding: 0 7px 4px; 
    margin-bottom: 0;
} 

.footer-7rt .button-5sz.button-6zj:hover { 
    background-color: #7abfe0;
} 

.footer-7rt .button-ttf .button-5sz:hover { 
    background-color: #fff;
} 

.footer-7rt .button-5sz.button-v3b  { 
    background-color: #899fcf;
} 

.footer-7rt .button-5sz.button-v3b:hover { 
    background-color: #6582c0;
} 

.footer-7rt .button-5sz.button-ifr  { 
    background-color: #6b9fd1;
} 

.footer-7rt .button-5sz.button-ifr:hover { 
    background-color: #4486c5;
} 

.footer-7rt .button-ttf.button-j52 .button-5sz:last-child  { 
    margin-right: 0;
} 

.small { 
    font-size: 0.875em; 
    font-weight: 400;
} 

.icon { 
    color: transparent;
} 

.icon { 
    fill: #5d6769; 
    height: 24px; 
    width: 24px;
} 

.small { 
    font-size: .875em;
} 

a .icon  { 
    fill: #0077b3;
} 

.small.icon { 
    height: 16px; 
    width: 16px;
} 

.footer-hon .icon  { 
    width: 24px; 
    height: 24px; 
    fill: #5d6769;
} 

.footer-hon .small.icon  { 
    width: 16px; 
    height: 17px;
} 

.footer-7rt .button-5sz .icon  { 
    fill: #fff;
} 

.footer-7rt .button-ttf .button-5sz .icon  { 
    fill: #565e66;
} 


